<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>ndbvis</title>
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src="/js/jquery.min.js"></script>
  <script src='/js/bootstrap.min.js'></script>

  <script src='/js/Restorer.js'></script>
  <script src='/js/Displayer.js'></script>
  <script src='/js/SQLEditor.js'></script>
  <script src='/js/EditorPage.js'></script>
  <script src='/js/ConnectionManager.js'></script>
</head>
<body>

  <div class='DisplayerCurtain' id='displayer_curtain'></div>
  <div class='DisplayerWindow' id='displayer_window'>
    <div class='header'>
      <span class='close'><i class='fa fa-times'></i></span>
    </div>
    <div class='content'>
    </div>
  </div>

  <div class='container-fluid'>

    <ul class='nav nav-pills' id='nav'>

      <li class='inactive' id='add_page_btn'><a href='#'>
        <i class='fa fa-plus'></i>
      </a></li>

    </ul>

    <div class='pages' id='pages'>

    </div>

  </div>

  <script src='/js/main.js'></script>
</body>
</html>
