body {
  background-color: #222;
  color: #eee;
  font-family: "Courier New", monospace;
  padding: 0px;
}

.SQLEditor_btn {
  border-radius: 0px;
  background-color: black;
  border: 0px solid #222;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
  min-height: 30px;
  text-transform: uppercase;
  outline: none;
}
.SQLEditor_btn:hover {
  background-color: orange;
}
.SQLEditor_error {
  color: red;
}
.SQLEditor_table {
  font-size: small;
  width: 100%;
  font-family: "Courier New", monospace;
}
.SQLEditor_table thead {
  background-color: #444;
  color: #fff;
}
.SQLEditor_table thead th {
  border: 1px solid #555;
  border-top: 0px solid red;
  border-bottom: 1px solid #666;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
  white-space: nowrap;
}
.SQLEditor_table tr.colTypes th {
  color: #fff;
  font-size: xx-small;
  background-color: #222;
  border-bottom: 1px solid orange;
  border-top: 1px solid orange;
}
.SQLEditor_table tbody td {
  border: 1px solid  #444;
  padding: 5px;
  white-space: nowrap;
}
.SQLEditor_table tbody td.null {
  color: rgba(100, 100, 100, 0.2);
}
.SQLEditor_table tbody tr:nth-child(even) {
  background-color: #1e1e1e;
}
.SQLEditor_table tbody tr:hover {
  background-color: rgba(100, 0, 0, 0.1);
}
.SQLEditor_table tbody tr td:hover {
  background-color: #400;
}
.page {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #333;
  min-height: 500px;
}
.nav-pills li a {
  border-radius: 0px !important;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin:0px;
}
.nav-pills li.active a{
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  background-color: rgba(0,0,0,0.5);
}
.container-fluid {
  padding: 5px;
}
.inputarea {
  display: block;
  background-color: transparent;
  color: white;
  border: 0px solid #333;
  border-top: 1px solid #222;
  border-bottom: 1px solid #333;
  resize: vertical;
  width: 100%;
  min-height: 5em;
  outline: none;
  font-family: "Courier New", monospace;
}
.inputarea::-webkit-scrollbar{background-color:#151A1F;border-left:1px solid #252A2F;width:5px;}
.inputarea::-webkit-scrollbar-thumb{background-color:#555A60;}
.output {
  overflow: auto;
}
.output::-webkit-scrollbar {
  height: 20px;
}
.output::-webkit-scrollbar-track {
  background-color: #222;
  border-top: 2px solid #444;
}
.output::-webkit-scrollbar-thumb {
  background-color: #444;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #222;
  border-left: 1px solid #444;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}

.EditorPage_closeTabBtnbtn:hover {
  color: orange;
}

.ConnectionManager {
  min-height: 30px;
  min-width:100px;
}

.ConnectionManager select {
  background-color: transparent;
  min-height:30px;
  outline: none;
  border: 0px solid red;
  border-left: 1px solid #333;
  font-family: "Courier New", Monospace;
}

.ConnectionManager select option{
  color: #fff;
  font-size: large;
  background-color:#333;
}

.SQLEditor_wIcon {
  font-size: large;
  margin:5px;
}

.DisplayerCurtain {
  display: none;
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.95);
}
.DisplayerWindow {
  display: none;
  position: fixed;
  border: 0px solid #ddd;
  background-color: #222;
  box-shadow: 0px 0px 3px #aaa;
  z-index: 100;
  overflow: auto;
  overflow-x: hidden;
}
.DisplayerWindow .header {
  border-bottom: 1px solid #444;
  overflow: auto;
  padding-bottom: 2px;
}
.DisplayerWindow .content {
  display: flex;
  padding: 0.0em;
}
.DisplayerWindow .content .body {
  display: block;
  font-family: monospace;
}
.DisplayerWindow .content .body .null {
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
  padding: 0.2em;
  border: 1px solid #777;
}
.DisplayerWindow .close {
  margin:0.2em;
  margin-right:0.3em;
  color: #ddd;
  text-shadow: none !important;
  opacity: 1.0 !important;
}
.DisplayerWindow .close:hover {
  color: orange;
}
.container-fluid {
  padding: 0px;
}
.json-data {
  border-left: 1px solid #ccc;
  padding: 5px;
  font-size: x-small;
  font-family: "Courier New", Monospace;
  word-wrap: break-word;
  margin-left:3px;
}
.json-key {cursor: pointer;}
.json-key:hover { color: orange; }
.json-data > .json-data { display: none; }

.DisplayerWindow .fields {
  width: auto;
  flex-basis: content;
  display: inline-block;
}
.DisplayerWindow .main {
  display: inline-block;
  flex-grow: 1;
  border: 0px solid red;
  vertical-align: top;
}
.DisplayerWindow .cprop {
  font-weight: bold;
  border-bottom: 1px solid orange;
  margin-bottom:0.5em;
}
.DisplayerWindow .cprop .name {
  color: orange;
}
.DisplayerWindow .cprop .type {
  color: #777;
  margin-left:0.7em;
}
.DisplayerWindow .prop {
  border: 1px solid rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0.1em;
  margin-bottom:0.2em;
}
.DisplayerWindow .prop:hover {
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
}
.DisplayerWindow .prop .name {
  display: block;
  padding: 0.2em;
  font-size: x-small;
  color: #aaa;
}
.DisplayerWindow .prop .type {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: x-small;
  color: #555;
  padding: 0.2em;
}
.DisplayerWindow .fbtn {
  margin-right:0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 0px;
  padding:0.1em;
  padding-left:0.3em;
  padding-right:0.3em;
  cursor: pointer;
}
.DisplayerWindow .fbtn:hover {
  color: orange;
}
.box {
  border: 1px solid #888;
  margin-top: 1em !important;
  padding: 1em;
  background-color: #555;
  box-shadow: 0px 0px 5px #666;
  float: none;
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 2em;
}
.box .field {
  display: block;
  width: 100%;
  border:0px solid red;
  padding:0.5em;
  outline: none;
  color: #222;
  font-weight: bold;
}
.box .logo {
  font-size: large;
  color: #bbb;
  text-align: center;
  margin-bottom:0.5em;
}
.box button {
  display: block;
  width:100%;
  background-color: #fff;
  border: 1px solid #999;
  padding: 1em;
  text-transform: uppercase;
  color: #222;
  outline: none;
}
.box button:hover {
  color: orange;
  border: 1px solid orange;
}
.topbar {
  background-color: #333;
  margin-bottom:0.5em;
  overflow: auto;
  padding:0.2em;
  font-size: small;
}
.topbar .logo {
  font-weight: bold;
}
.topbar a {
  color: #ddd;
  font-family: monospace;
  text-decoration: none;
}
.vheader {
  margin-bottom:0.5em;
  padding-left:1em;
}
.vbtn {
  margin-right: 0.2em;
  border: 1px solid #655;
  padding: 0.2em;
  background-color: #444;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  padding-left:0.5em;
  padding-right:0.5em;
  font-weight: bold;
}
.vbtn.active {
  color: orange;
  border-color: orange;
}
.vbtn:hover {
  color: orange;
}
pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}
